# /etc/systemd/system/crop_upload.service
[Unit]
Description=crop upload
After=network-online.target

[Service]
User=1000
Group=1000
Type=oneshot
ExecStart=bash -c "/usr/bin/pgrep -f 'crop upload' || /opt/crop/crop upload"
ExecStopPost=/bin/rm -rf /opt/crop/crop.lock

[Install]
WantedBy=default.target
