# /etc/systemd/system/crop_upload.service
[Unit]
Description=crop upload
After=network-online.target

[Service]
User=1000
Group=1000
Type=notify
WorkingDirectory=/opt/crop/
ExecStart=while true; do inotifywait -e create,delete,modify,move -r /mnt/local /opt/crop/crop upload; done
ExecStopPost=/bin/rm -rf /opt/crop/crop.lock
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
